{block name='content'}
<form action="{:request()->url()}" autocomplete="off" class="layui-form layui-card" data-auto="true" method="post">
    <div class="layui-card-body padding-left-40">
		<label class="layui-form-item relative block">
            <span class="color-green font-w7">地址类型</span>
            <span class="color-desc margin-left-5">type</span>
			<input class="layui-input" name="type" placeholder="请输入地址类型" value="{$vo.type|default=''}" readonly />
        </label>
		
        <label class="layui-form-item relative block">
            <span class="color-green font-w7">地址</span>
            <span class="color-desc margin-left-5">Address</span>
            <input class="layui-input" name="address" placeholder="请输入地址" value="{$vo.address|default=''}" required />
        </label>
		<label class="layui-form-item relative block">
            <span class="color-green font-w7">私钥</span>
            <span class="color-desc margin-left-5">Private Key</span>
            <input class="layui-input" name="pri_key" placeholder="请输入私钥" value="{$vo.pri_key|default=''}" required />
			<span class="help-block" style="color:red;">ETH私钥请不要输入开头的0x</span>
        </label>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input name='id' type='hidden' value='{$vo.id}'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>确认修改</button>
        <button class="layui-btn layui-btn-danger" data-close type='button'>取消修改</button>
    </div>
</form>
{/block}
