<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/dog_files/css/style.css" rel="stylesheet">
    <title>The Small Doge </title>
    <link href="https://www.smalldogecoin.com/img/favicon.png" type="image/png" rel="shortcut icon">
  </head>
<body>
  <header class="page-header" id="top">
  <div class="page-header-container">
    <a href="{:url('index/dog/index',['agent'=>$userId])}" class="page-header-brand">
      <img src="/dog_files/picture/sdog.svg" alt="SDOG" class="page-header-brand-img">
    </a>
    <div class="page-header-content">
      <a href="#" class="page-header-toggle collapsed" data-toggle="navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <nav class="page-header-navbar">
        <ul class="nav page-header-nav">
          <li>
            <a href="{:url('index/dog/index',['agent'=>$userId])}" class="SDOG">领取SDOG</a>
          </li>
          <li>
            <a href="{:url('index/dog/index',['agent'=>$userId])}#whitelist" data-toggle="scroll-to" class="nav-link">空投机制</a>
          </li>
          <li>
            <a href="{:url('index/dog/index',['agent'=>$userId])}#mining-mechanism" data-toggle="scroll-to" class="nav-link">挖矿机制</a>
          </li>
          <li>
            <a href="{:url('index/dog/index',['agent'=>$userId])}#token-mechanism" data-toggle="scroll-to" class="nav-link">代币机制</a>
          </li>
          <li>
            <a href="javascript:;" class="btn btn-primary">领取教程</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

  <main>

    <section class="buy-section fade-in">
      <div class="container">
        <div class="buy-container">
          <img src="/dog_files/jc/1.png" style="width: 100%;" alt="">
          <img src="/dog_files/jc/2.png" style="width: 100%;" alt="">
          <img src="/dog_files/jc/3.png" style="width: 100%;" alt="">
          <img src="/dog_files/jc/4.png" style="width: 100%;" alt="">
          <img src="/dog_files/jc/5.png" style="width: 100%;" alt="">
          <img src="/dog_files/jc/6.png" style="width: 100%;" alt="">
        </div>
      </div>
    </section>

    
  </main>

  <footer class="page-footer">
  <div class="container">
    <div class="page-footer-container">
      <div class="page-footer-aside">
        <div>
          <a href="{:url('index/dog/index',['agent'=>$userId])}" class="btn btn-primary SDOG">获取 SDOG</a>
        </div>
        <div>
          <!-- <a href="index1.html" class="btn btn-tl btn-secondary">English</a> -->
        </div>
      </div>
      <div class="page-footer-main">
        <ul class="page-footer-social">
          <li>
            <a href="javascript:;" target="_blank"><i class="icon icon-tw"></i></a>
          </li>
          <li>
            <a href="javascript:window.open('https://t.me/SDOGCustomerservice');" target="_blank"><i class="icon icon-telegram"></i></a>
          </li>
          <li>
            <a href="mailto:support@smalldogecoin.com"><i class="icon icon-contact"></i></a>
          </li>
        </ul>
        <div class="page-footer-copy">
          &copy; Copyright © <strong>The Small Doge Project</strong> 2021
        </div>
      </div>
    </div>
  </div>

</footer>

<div class="modal fade" id="modalComingSoon" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <div class="modal-cooming-soon">
        <h3>Coming soon...</h3>
      </div>
    </div>
  </div>
</div>
</div> <script src="/dog_files/js/all.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="/dog_files/js/js.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LKKQY85Y2C');
</script>
<script type="text/javascript">
  function urlinit() {
            $('.SDOG').attr('href',"{:url('index/dog/index',['agent'=>$userId])}");
       }
       urlinit();
</script>
</body>

</html>
